/* style.css */

.navbar {
    height: auto;
    width: 100%;
    background-color: red;
}

.coy-name {
    background-color: darkred;
    position: relative;
    color: white;
    text-align: center;
    padding-top: 2%;
    font-family: fantasy;
    font-size: 20pt;
    width: 80%;
    height: 40px;
    font-style: oblique;
    border-radius: 1ch;
    margin-top: -130%;
    margin-left: 60%;
  }

  .boss {
    margin-top: 20%;
    margin-left: 50%;
  }

.menu-burger > * {
    position: absolute;
}

.menu-burger input {
    height: 32px;
    margin: 0;
    opacity: 0;
    width: 32px;
    z-index: 3;
}

.menu-burger svg {
    height: 32px;
    width: 32px;
    z-index: 2;
}

ul.menu-burger_item-list {
    background-color: white;
    bottom: 0;
    color: red;
    list-style-type: none;
    margin: 0;
    padding: 32px;
    top: 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.9, 0, 0.1 1);
    width: 200px;
    z-index: 1;
}

input:checked ~ .menu-burger_item-list {
    transform: none;
}

.menu-burger input:checked:checked ~ svg line {
    stroke: #3c3836;
}

line:nth-of-type(1) {
    stroke: red;
}

line:nth-of-type(2) {
    stroke: green;
}

line:nth-of-type(3) {
    stroke: blue;
}

.menu-burger svg line:nth-of-type(1) {
    transform-origin: center 6px;
}

.menu-burger svg line:nth-of-type(2) {
    transform-origin: center 12px;
}

.menu-burger svg line:nth-of-type(3) {
    transform-origin: center 18;
}

.menu-burger svg line {
    transition-duration: 0.5s;
    transition-property: stroke, opacity, transform;
    transition-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
}

.menu-burger input:checked ~ svg line:nth-of-type(2) {
    opacity: 0;
    transform: scale(0.2);
}

.menu-burger input:checked ~ svg line:nth-of-type(1) {
    transform: translate(0, 6px) rotate(45deg);
}

.menu-burger input:checked ~ svg line:nth-of-type(3) {
    transform: translate(0, -6px) rotate(-45deg);
}